<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">AdamsArcaneArchive</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/create-ddb-character" Match="NavLinkMatch.All">
                <span class="oi oi-beaker" aria-hidden="true"></span> Character Creation
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/general-rules" Match="NavLinkMatch.All">
                <span class="oi oi-star" aria-hidden="true"></span> General Rules
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/homebrew-rules" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Homebrew Rules
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <a href="https://builder.adamcurl.com/" class="nav-link" target="_blank"><span class="oi oi-globe" aria-hidden="true"></span> Eberron Builder</a>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
