@page "/create-ddb-character"

<h3>How to create a character in <a href="https://www.dndbeyond.com/" target="_blank">D&amp;D Beyond</a></h3>

<div>
     <ol>
          <li>
            If you aren't added to my
            <a
              href="https://www.dndbeyond.com/my-campaigns"
              target="_blank"
              rel="noopener noreferrer"
            >
              D&D Beyond campaign
            </a>
            , then let me know. This will give you access to all the races,
            classes, items, and backgrounds that you need to start playing.
          </li>
          <li>
            You can read the
            <a
              href="https://www.dndbeyond.com/sources/basic-rules/step-by-step-characters"
              target="_blank"
              rel="noopener noreferrer"
            >
              Player's Handbook
            </a>
            on how to create a character or ask your DM.
          </li>
          <li>
            Head over to the
            <a
              href="https://www.dndbeyond.com/characters/builder"
              target="_blank"
              rel="noopener noreferrer"
            >
              D&D Beyond Character Builder
            </a>
            and select <em>Standard</em>.
          </li>
          <li>
            Make the following changes:
            <ol>
                <li>Turn <i>Homebrew Content</i> on.</li>
                <li>Turn <i>Critical Role Content</i> on.</li>
                <li>Turn <i>Optional Class Features</i> on.</li>
                <li>Turn <i>Customizing Your Origin</i> on.</li>
                <li>Set <i>Hit Point Type</i> to Manual.</li>
            </ol>
          </li>
          <li>
            Select your race.<br />
            <ul>
                <li><strong>Eberron:</strong> If your character has a dragonmark, select the race with that dragonmark.</li>
                <li>If you wish to replace the default Ability Score Increase, Proficiency, or Languages of that race, click on <i>Origin Manager</i> (it's next to <i>Racial Traits</i> after you select your race). 
                    Check the box of any race features you wish to override. Then, go back to the <i>Racial Traits</i> seciton and fill out the rest.</li>
            </ul>
          </li>
          <li>
              Select your class.
              <ol>
                  <li>Click on <i>Manage HP</i> (top right) and enter in the max value for your hit dice into the <i>Rolled HP</i> box.
                      <br /><i>i.e</i> If your Hit Dice is 1d8, then enter 8.</li>
                  <li>Click on <i>Optional Feature Manager</i> and check everything.</li>
                  <li>
                      If you chose a spellcasting class, be sure to select your spells on the <em>Class</em> page.
                        <ul>
                            <li><strong>If you picked wizard:</strong> Since wizards can learn new
                            spells at any time, there is no cap on how many spells they can
                            know. Be sure to only select <strong>6</strong> 1st level spells
                            when you are at level 1. Each time you gain a level, be sure to only
                            add <strong>2</strong> new spells. Your cantrips should be
                            hard-capped, so nothing to worry about there.</li>
                        </ul>    
                  </li>
              </ol>
          </li>
          <li>
            Enter your Ability Scores.
            <ol>
                <li>Select <em>Manual</em>, and
                roll 4d6, taking the sum of the highest 3 rolls. Do that a total of
                6 times. Be sure to record these numbers. These are the values you
                can use to determine your ability scores.</li>
                <li>
                    Reroll all scores if your 6 values don't add up to at least 72.
                </li>
                <li>
                    Reroll three sets if your total adds up to more than 88.
                </li>
            </ol>
          </li>
          <li>
              Add a Description to your character.
              <br />
              <ol>
                  <li>For your character details, select a background that best fits your
            character, as well as any bonuses it gives you.</li>
                  <li>Add characteristics, details, appearance, notes, backstory, goals, and ideals to your character.</li>
              </ol>
          </li>
          <li>
              Add Equipment.
              <ol>
                  <li>Select <i>Equipment</i> and fill out the form.</li>
                  <li>If you want to start with a different weapon (not armor), then feel free to swap out any weapons you get by removing it from your current inventory and adding it through <i>Add Items</i>. 
                      You can view a list of weapons <a href="https://www.dndbeyond.com/equipment?filter-search=weapon&filter-cost-min=&filter-cost-max=&filter-weight-min=&filter-weight-max=" target="_blank">here</a>.
                      <br />
                      <strong>Note:</strong> When adding equipment to your character, make
                        sure that the <em>Proficient</em> and <em>Common</em> checkboxes are
                        <strong>marked</strong> and the <em>Magical</em> checkbox is
                        <strong>unmarked</strong>.
            </li>
              </ol>
          </li>
          <li>
              Add a feat.
              <ol>
                  <li>Click on the sheet icon in the top right to view your character.</li>
                  <li>Click on <i>Features and Traits</i> in your character sheet (should be a tab in the big box to the right on laptop).</li>
                  <li>Scroll all the way down until you see <i>Manage Feats</i>. Click it, and add a feat of your choice.</li>
              </ol>
          </li>
          <li>
              You're done!
              <ul>
                  <li>If you ever want to edit your character, you can click on the anvil icon in the top right.</li>
                  <li>Feel free to edit your character sheet by clicking on your character name or icon, then on <i>Change Sheet Appearance</i>.</li>
              </ul>
          </li>
        </ol>
</div>
<div>
    <h4>For Eberron Campains</h4>
    <p>If you want to flesh out your character more with a backstory, goals, flaws, and ideals, then head over to my <a href="https://builder.adamcurl.com/" target="_blank">Eberron Character Builder</a> for some guidance.</p>
</div>

@code {

}
