@page "/errata"

<div>
    <h1>Errata</h1>

    <div class="section">
        <h2>Classes</h2>

        <div class="subsection">
            <h3>All Subclasses</h3>
            <h4>Buffing Older Sublcass Abilities</h4>
            <p>Each 6th level or lower subclass ability that has language like <em>"Once you use this feature, you can’t use it again until you finish a short or long rest"</em>, you instead can now use this ability a number of times equal to your proficiency bonus, and you regain all expended uses when you finish a long rest.</p>
        </div>

        <div class="subsection">
            <h3>Paladin</h3>
            <h4>Divine Smite</h4>
            <p>A paladin can divine smite with an unarmed strike.</p>
        </div>
    </div>

    <div class="section">
        <h2>Races</h2>

        <div class="subsection">
            <h3>Owlin</h3>
            <h4>Life Span</h4>
            <p>Owlin reach maturity by age 3 and usually don't live longer than 50 years.</p>

            <h4>Flight</h4>
            <p>While wearing medium armor, you have a flying speed equal to half your walking speed.</p>
            <p>While wearing heavy armor, you cannot fly but can hover.</p>
        </div>
    </div>

    <div class="section">
        <h2>Spells</h2>
        <div class="subsection">
            <h3>Borrowed Knowledge</h3>
            <p>Borrowed Knowledge is now a ritual spell.</p>
        </div>
    </div>
</div>