@page "/errata"

<div>
    <h1>Errata</h1>

    <div class="section">
        <h2>Classes</h2>

        <div class="subsection">
            <h3>All Subclasses</h3>
            <h4>Buffing Older Sublcass Abilities</h4>
            <p>Each 6th level or lower subclass ability that has language like <em>"Once you use this feature, you can’t use it again until you finish a short or long rest"</em>, you instead can now use this ability a number of times equal to your proficiency bonus, and you regain all expended uses when you finish a long rest.</p>
        </div>

        <div class="subsection">
            <h3>Paladin</h3>
            <h4>Divine Smite</h4>
            <p>A paladin can divine smite with an unarmed strike.</p>
        </div>
    </div>

    <div class="section">
        <h2>Feats</h2>

        <div class="subsection">
            <h3>Spellcasting</h3>
            <p>If a feat would give you the ability to cast a spell and states that you can cast it a certain number of times and must finish a short/long rest before you can cast it again, the following rule is appended to the feat: <em>You can also cast the(these) spell(s) using spell slots you have of the appropriate level.</em></p>
        </div>
    </div>

    <div class="section">
        <h2>Races</h2>

        <div class="subsection">
            <h3>Aarakocra</h3>
            <h4>Flight</h4>
            <p>You have a flying speed equal to your walking speed.</p>
            <p>While wearing medium armor, you have a flying speed equal to half your walking speed.</p>
            <p>While wearing heavy armor, you cannot fly but can hover.</p>
        </div>

        <div class="subsection">
            <h3>Centaur</h3>
            <h4>Size</h4>
            <p>The average centaur is between six and nine feet tall. They have been known to weigh between 1000 and 2500 pounds. Your size is Large.</p>

            <h4>Speed</h4>
            <p>Your base walking speed is 50 feet.</p>

            <h4>Equine Build</h4>
            <p>Having an equine build comes with benefits and drawbacks:</p>
            <ul>
                <li>Your carrying capacity equals your Strength score x 30 lbs.</li>
                <li>Unless your hooves are in some way obscured, you have disadvantage on Stealth checks when walking on hard surfaces, such as stone or brick.</li>
                <li>You are unable to wear humanoid armor below the belt (ex: leggings, greaves, or boots).</li>
                <li>Regular armor only covers your humanoid part and leaves your horse part exposed, giving you a -1 to your AC. However, you can have barding crafted for your horse section, giving you the full benefits of the armor. Barding costs 3x and weighs 2x the equivalent humanoid armor.</li>
                <li>Any climb that requires hands and feet is especially difficult for you because of your equine legs. When you make such a climb, each foot of movement costs you 4 extra feet, instead of the normal 1 extra foot.</li>
            </ul>
        </div>

        <div class="subsection">
            <h3>Fairy</h3>

            <h4>Size</h4>
            <p>Your size is Tiny.</p>

            <h4>Speed</h4>
            <p>Your walking speed is 20 feet.</p>

            <h4>Fey Magic</h4>
            <p>You know the <strong>druidcraft</strong> cantrip.</p>
            <p>Starting at 3rd level, you can cast the <strong>faerie fire</strong> spell with this trait. You can cast this spell a number of times equal to your proficiency bonus, and you regain all expended uses when you finish a long rest. You can also cast the spell using any spell slots you have of the appropriate level.</p>
            <p>When you reach 5th level, you can cast the <strong>invisibility</strong> spell once with this trait and regain the ability to do so when you finish a long rest. You can also cast the spell using any spell slots you have of the appropriate level.</p>
            <p>Intelligence, Wisdom, or Charisma is your spellcasting ability for these spells when you cast them with this trait (choose when you select this race).</p>

            <h4>Flight</h4>
            <p>You have a flying speed of 30 feet or equal to your walking speed if your walking speed is higher.</p>
            <p>While wearing medium armor, you have a flying speed equal to half your walking speed.</p>
            <p>While wearing heavy armor, you cannot fly but can hover.</p>
        </div>

        <div class="subsection">
            <h3>Owlin</h3>
            <h4>Life Span</h4>
            <p>Owlin reach maturity by age 3 and usually don't live longer than 40 years.</p>

            <h4>Flight</h4>
            <p>While wearing medium armor, you have a flying speed equal to half your walking speed.</p>
            <p>While wearing heavy armor, you cannot fly but can hover.</p>

            <h4>Talons</h4>
            <p>Your talons are natural weapons, which you can use to make unarmed strikes. If you hit with them, you deal slashing damage equal to 1d4 + your Strength modifier, instead of the bludgeoning damage normal for an unarmed strike.</p>
        </div>
    </div>

    <div class="section">
        <h2>Spells</h2>
        <div class="subsection">
            <h3>Borrowed Knowledge</h3>
            <p>Borrowed Knowledge is now a ritual spell.</p>
        </div>
    </div>
</div>