@page "/errata"

<div>
    <h2>Errata</h2>

    <div>
        <h4>Classes</h4>
        <h5>Paladin</h5>
        <h6><strong>Divine Smite</strong></h6>
        <p>A paladin can divine smite with an unarmed strike.</p>
    </div>

    <div>
        <h4>Races</h4>
        <h5>Owlin</h5>
        <h6><strong>Life Span</strong></h6>
        <p>Owlin reach maturity by age 3 and usually don't live longer than 50 years.</p>
        <h6><strong>Flight</strong></h6>
        <p>While wearing medium armor, your flying speed is equal to half your walking speed.</p>
        <p>While wearing heavy armor, you cannot fly but can hover.</p>
    </div>

    <div>
        <h4>Spells</h4>
        <h5>Borrowed Knowledge</h5>
        <p>Borrowed Knowledge is a ritual spell.</p>
    </div>
</div>