@page "/general-rules"

<h2>General Rules</h2>

<div>
    <h4>Dice roles</h4>
    <p>I'm a fan of physical dice rolls. I know D&D Beyond has a digital dice roller, but I'd like to keep the dice rolls on the table (unless you have to roll > 10 dice at once).</p>
    <p>Only make dice rolls when I ask for them. While playing, talk about what your character is doing or is going to do. I'll let you know what, if anything, you need to roll. If the dice fall off the table or are cocked, then reroll them. Also, be sure to let me know if you rolled a natural 1 or a natural 20.</p>

    <h4>Metagaming</h4>
    <p>Try to avoid any metagaming (thinking about the game as a game). For example, if you, the player, know the weaknesses of a certain monster, ask your DM if your character would know those weaknesses and play accordingly. Another example would be if your character is polymorphed into a badger, then he wouldn't be able to converse with the other characters.</p>

    <h4>The Rule of Cool</h4>
    <p>If you want to do something badass, then the rules can be bent in order for you to do so, just let me know what you want to do, and I'll let you know if you can do it and what dice rolls you need to make.</p>

    <h4>No Evil-Aligned Characters</h4>
    <p>When picking an alignment for your character, please don't create an evil (LE, NE, CE) character. This tends to really change/muck up the way the game is played and can cause arguments among the players. i.e. "My character is evil, so I would have stolen the cool magical sword you (another player) just got and then stabbed your character, and now you have to make a new one, hahaha". Not very fun unless we are playing an evil-only campaign.</p>

    <h4>No Joke/Meme Characters</h4>
    <p>Please don't make a character named Big Chungus that puts one level into every class and randomly humps hay bales, or a character like that. For my sanity's sake...please.</p>
</div>
